
/* Global Styles */

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/DesktopBackground.png) no-repeat center center fixed;
    background-size: cover;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid rgb(250, 250, 250);

}

header img {
    display: block;
    width: 100%;
    border: 2px solid #BEBFB4;
    border-radius: 10px;
    height: auto;
}

h1 {
    text-align: center;
    font-family: "Funnel Display", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 40px;
    margin-top: 100px;

}

h2 {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #F2F2F2;
    font-size: 35px;
    padding: 20px;

}

p {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
}

hr {
    border: 2px solid #F2F2F2;
    margin: 20px;
}

footer {

    text-align: center;
    color: white;
    padding: 10px;
} 
video { 
    display: block;
    width: 80%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 30px;
    overflow: hidden;
}

/* Links */

    nav a:hover {
        background-color:#F2AEDB;
    }
    nav a:active {
        color: #25470d;
    }
    nav a:visited {
        color: #FEED8F
    }





/* Page 1 Specifics and Layout */

 .two_column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
 }

.farmer {
    background: rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 16px;
    padding: 16px;
    overflow: hidden;
}

.mech img {
    border-radius: 50px;
    border: 2px solid #C2D9BF;
}

.texts {
    text-align: center;
    margin-top: 15px;
}

.texts h3 {
    font-family: "Funnel Display", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin: 8px 0 6px;
    font-size: 30px;
}
#overview-header p {
    font-size: 35px;
    padding: 20px;
}

#Intro p {
    font-size: 30px;
}

.mechanics_overview h2 {
    font-size: 40px;
}

.mechanics_overview p {
        font-size: 30px;
}

.descriptions p {
    font-size: 30px;
    margin: 20px;
}

#quote p {
    font-size: 35px;
}





/* Page 2 Specifics and Layout*/

#sub-head1 p {
    font-size: 30px;
    padding: 20px;
}

#quote_2 p {
    font-size: 35px;
}


.mech2 ul li {
    font-family: "Agdasima", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
}

.mech2 p {
    font-size: 28px;
}

.mech2 {
    max-width: 1000px;
    margin: 24px auto;
    padding: 24px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.45);
}





/* Page 3: Setup */


#fav-heading img {
    width: 90%;
    border: 3px solid #D9ADC2;
}

#fav-heading p {
    font-size: 35px;
    padding: 10px;
}

.characters-2 h2,
.characters-2 h3 {
    font-size: 40px;
    font-family: "Funnel Display", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin: 8px 0 6px;
    margin-left: 15px;
}



.characters-2 img {
    width: 90%;
}

.characters-2 p {
    font-size: 29px;
    margin-left: 12px;
    margin-right: 12px;
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

#quote_4 p {
    font-size: 30px;
}





/* Page 4: 3-Column Gallery Setup */

.gallery_intro {
    background: rgba(109, 108, 108, 0.4);
    border-radius: 20px;}

.gallery_intro h1 {
    margin: 7px;
    margin-top: 70px;
}

.gallery_intro ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery_intro li {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 6px 0;

}

.gallery_intro p {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 30px;
    padding: 10px;

}
  
.gallery-section {
    max-width: 1200px;
    margin: 0 auto 40px;
    padding: 0 15px;
}

.gallery-section {
    text-align: center;
    margin-bottom: 20px;
}



.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}




.gallery-grid img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-grid figure {
    margin: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
}

.gallery-grid figcaption {
     font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(102, 86, 86);
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}

#quote_3 p {
    font-size: 35px;
}





/* Page 5 Layout and Setup */

#dev-team-header img {
    width: 30%;
    padding: 10px;
    margin-top: 50px;
}

#dev-team-header h1 {
    margin-top: 15px;
}

#dev-team-header p {
    font-size: 30px;
}

#NPC-intro h2 {
    text-decoration: underline;
    font-family: "Funnel Display", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-left: 18px;
}


#NPC-intro p {

    font-family: "Agdasima", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 20px;

}

#NPC-intro img {
    width:  30%;
    padding: 10px;
    border: 3px solid #000000;
}

#NPC-intro figcaption {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 23px;
    text-align: center;
}

.leads img {
    width: 70%;
    border: 5px solid #A5D7AF;
}

.leads p {
    font-family: "Agdasima", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 30px;
    margin-left: 15px;
    font-size: 30px;
    padding: 20px;
}

.leads h2,
.leads h3  {
    text-decoration: underline;
    font-family: "Funnel Display", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 18px;
}

.leads ul {
    font-family: "Agdasima", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

#leads1 p {
    font-family: "Agdasima", sans-serif;
    font-weight: 550;
    font-style: normal;
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

#leads1 h4 {
    text-decoration: underline;
    font-family: "Funnel Display", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 18px;
}


#leads1 ul {
    font-family: "Agdasima", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

#leads1 ul li {
    text-align: center;
    display: inline-block;
    margin: 0 18px;
}

#leads1 ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #39fff5;
}

#leads1 ul li a:hover {
    color: #7DE1E0;
}

#leads1 ul li a:visited {
    color: #F2F2F2;
}

#leads1 ul li a:active {
    color: #D1F7CB;
}










/* Mobile Styles */
    @media (max-width: 600px) {
    
    nav {
        width: 100%;
        text-align: center;
    }

    nav ul {
        list-style: none;
        margin: 16px auto;
        padding: 0 12px;

        display: flex;
        flex-direction: column;

        max-width: 1100px;
    }

    nav li a {
        display: block;
        text-decoration: none;
        font-family: "Funnel Display", sans-serif;
        font-weight: 700;
        text-align: center;
        background-color: #FCD3F5 ;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        margin-top: 7px;
        border-radius: 10px;
    }

    nav a:active {
        color: #9971CF
        }

    nav a:visited {
        color: #612e50
    }

    .two_column {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        padding: 12px;
    }

    .farmer {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        padding: 12px;
        background: rgba(255,255,255,0.3);
        box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    }

    .mech {
        flex: 0 0 100px
    }

    .mech img {
        width: 100px;
        height: auto;
        display: block;
    }

    .gallery-grid {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
    }
        
    }
        







/* Tablet Styles */
 @media (min-width: 768px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 16px auto;
        list-style: none;
    }

    nav a {
        display: block;
        font-family: "Funnel Display", sans-serif;
        font-weight: 700;
        background-color: #b38ee7;
        min-width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        border-radius: 8px;

    }

    nav li {
        display: inline-block;
    }

    nav li a {
        display: inline-block;

        width: 150px;
        height: 40px;
        font-size: 17px;
    }

    .mech img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .two_column {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}









/* Desktop Styles */
@media (min-width: 900px) {

    body {
        background: url(images/DesktopBackground.png) no-repeat center center fixed;
        background-size: cover;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        gap: 28px;
        padding: 0;
        margin: 20px;
        max-width: 1200px;

    }

    nav li {
        margin: 0;
    }

    nav a {
        display: block;
        background-color: #A5D7AF;
        width: 180px;
        height: 50px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        font-family: "Funnel Display", sans-serif;
        font-weight: 600;
    }

    nav a:hover {
        background-color:#F2AEDB;
    }

    nav a:active {
        color: #25470d;
    }
    
    nav a:visited {
        color: #FEED8F
    }

    .two_column {
        gap: 32px;
        max-width: 1200px;
    }

    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .farmer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 16px
    }


    .texts {
        margin-top: 30px;
        text-align: center;
    }


}


